
body {
  display: flex;
  justify-content: center;   /* centro horizontal */
  align-items: center;        /* centro vertical */
  height: 100vh;
  margin: 0;
  background-color: #ccffcc; /* verde bebé */
}

.filled {
  color: pink;
  font-weight: bold;
}

.box {
  background: #9fcd87;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
}

.favorite-icon.filled {
  color: red;
  font-weight: bold;
}

.item-list {
  list-style: none;   /* remove as bolinhas */
  padding: 0;         /* remove indentação à esquerda */
  margin: 0 auto;     /* centra a lista (opcional) */
}

h1 {
  color: red;
}
