body {
  background-color: #ffe6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

#pad-bank {
  background: white; 
  padding: 20px;
  border-radius: 20px; /* deixa redondo */
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 colunas */
  gap: 12px; /* espaço entre botões */
}

.drum-pad {
  height: 80px;
  font-size: 1.4rem;
  border: 2px solid #777;
  border-radius: 10px;
  background: #f2f2f2;
  cursor: pointer;
}

.drum-pad:hover {
  background: #e6e6e6;
}
